<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Project End</title>
        <script type="text/javascript" src="{{ url_for('static',filename='script.js') }}"></script>
        <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='style.css') }}">
    </head>
    <body>
        <h1>Project End</h1>
        <div>
            <h2>Threshold</h2>
            <div class="sidebyside">
                <div>
                    <h3>Lower Range</h3>
                    <div>
                        <label for="lowerH">Lower H: <span id="lowerHValue">{{ lower_bound_color[0] }}</span></label>
                        <input type="range" id="lowerH" min="0" max="179" value="{{ lower_bound_color[0] }}" oninput="updateThreshold()" disabled>
                    </div>
                    <div>
                        <label for="lowerS">Lower S: <span id="lowerSValue">{{ lower_bound_color[1] }}</span></label>
                        <input type="range" id="lowerS" min="0" max="255" value="{{ lower_bound_color[1] }}" oninput="updateThreshold()" disabled>
                    </div>
                    <div>
                        <label for="lowerV">Lower V: <span id="lowerVValue">{{ lower_bound_color[2] }}</span></label>
                        <input type="range" id="lowerV" min="0" max="255" value="{{ lower_bound_color[2] }}" oninput="updateThreshold()" disabled>
                    </div>
                </div>
                <div>
                    <h3>Upper Range</h3>
                    <div>
                        <label for="upperH">Upper H: <span id="upperHValue">{{ upper_bound_color[0] }}</span></label>
                        <input type="range" id="upperH" min="0" max="179" value="{{ upper_bound_color[0] }}" oninput="updateThreshold()" disabled>
                    </div>
                    <div>
                        <label for="upperS">Upper S: <span id="upperSValue">{{ upper_bound_color[1] }}</span></label>
                        <input type="range" id="upperS" min="0" max="255" value="{{ upper_bound_color[1] }}" oninput="updateThreshold()" disabled>
                    </div>
                    <div>
                        <label for="upperV">Upper V: <span id="upperVValue">{{ upper_bound_color[2] }}</span></label>
                        <input type="range" id="upperV" min="0" max="255" value="{{ upper_bound_color[2] }}" oninput="updateThreshold()" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h2>Crop</h2>
            <div>
                <label for="topCrop">Top Crop: <span id="topCropValue">{{ crop[0] }}</span></label>
                <input type="range" id="topCrop" min="0" max="240" value="{{ crop[0] }}" oninput="updateCropSize()" disabled>
            </div>
            <div>
                <label for="bottomCrop">Bottom Crop: <span id="bottomCropValue">{{ crop[1] }}</span></label>
                <input type="range" id="bottomCrop" min="240" max="480" value="{{ crop[1] }}" oninput="updateCropSize()" disabled>
            </div>
            <div>
                <label for="rightCrop">Right Crop: <span id="rightCropValue">{{ crop[2] }}</span></label>
                <input type="range" id="rightCrop" min="320" max="640" value="{{ crop[2] }}" oninput="updateCropSize()" disabled>
            </div>
        </div>
        <div>
            <h2>Configuration</h2>
            <label>
                <input type="checkbox" id="thresholdToggle" onchange="toggleSource()"> Threshold
            </label>
            <label>
                <input type="checkbox" id="referenceToggle" onchange="toggleSource()"> Reference
            </label>
            <label>
                <input type="checkbox" id="cropToggle" onchange="toggleCropSource()"> Crop Preview
            </label>
        </div>
        <div>
            <h2>Camera</h2>
            <img id="videoBox" src="{{ url_for('video') }}" alt="Video" data-video-url="{{ url_for('video') }}" width="640" height="480" />
        </div>
        <div>
            <h2>Measurement</h2>
            <label for="bScore">B Score (CM): <span id="bScoreValue">{{ b_score }}</span></label>
            <input type="number" id="bScore" min="-100" max="100" value="{{ b_score }}" oninput="updateScore()" step="0.01">

            <label for="hScore">H Score (CM): <span id="hScoreValue">{{ h_score }}</span></label>
            <input type="number" id="hScore" min="-100" max="100" value="{{ h_score }}" oninput="updateScore()" step="0.01">

            <label for="pcm">Pixel/MM: <span id="pcmValue">{{ pcm }}</span></label>
            <input type="number" id="pcm" min="0" max="100" value="{{ pcm }}" oninput="updateScore()" step="0.0001">
        </div>
        <div>
            <h2>Other</h2>
            <label for="delay">Delay (ms): <span id="delayValue">{{ delay }}</span></label>
            <input type="number" id="delay" min="0" max="10" value="{{ delay }}" oninput="updateScore()" step="0.0001">
        </div>
        <div>
            <h2>Commands</h2>

            <label for="folderPath">Generate from folder:</label>
            <input type="text" id="folderPath">

            <input type="button" value="Scan" onclick="startScan()">
            <input type="button" value="Generate" onclick="startGenerate()">
            <input type="button" value="Rotating Test" onclick="rotatingTest()">
            <input type="button" value="Take Picture" onclick="takeFile()">
            <input type="button" value="Calibrate Test" onclick="takeCalibrate()">
            <input type="button" value="Reset" onclick="reset()">

            <label>Status: <span id="statusRendering">---</span></label>
        </div>
        <div>
            <h2>Profing</h2>

            <label for="folderPathCP">Cloud Points from folder:</label>
            <input type="text" id="folderPathCP">

            <label for="x1data">X1: (Y Position)</label>
            <input type="number" id="x1data" min="-100" max="100" value="0" step="1">

            <label for="x2data">X2: (Y Position)</label>
            <input type="number" id="x2data" min="-100" max="100" value="0" step="1">

            <input type="button" value="Data" onclick="startData()">

            <label>Data: <span id="dataRendering">---</span></label>
        </div>
        <div>
            <h2>Debug</h2>

            <label for="folderPathDebug">Generate from folder:</label>
            <input type="text" id="folderPathDebug">

            <label for="x1datad">X1: (Y Position)</label>
            <input type="number" id="x1datad" min="-100" max="100" value="0" step="1">

            <label for="x2datad">X2: (Y Position)</label>
            <input type="number" id="x2datad" min="-100" max="100" value="0" step="1">

            <input type="button" value="Generate" onclick="startGenerateDebug()">
            <input type="button" value="Data" onclick="startDataDebug()">

            <label>Data: <span id="dataRenderingDebug">---</span></label>
        </div>
    </body>
</html>